<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizDataCSV" class="ru.otus.homework01.dao.QizDataCSV">
        <constructor-arg name="fileName" value="questions.csv"/>
    </bean>

    <bean id="quizService" class="ru.otus.homework01.service.QuizServiceImpl">
        <constructor-arg name="quizData" ref="quizDataCSV"/>
    </bean>
</beans>