<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input {
            width: 300px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<a href="/">&lt;&lt;&lt;back</a>
<h1>Book edit:</h1>
<div th:object="${book}">
    <form id="book-edit" action="bookEdit.html" th:method="post" th:action="@{/book/edit}">

        <div class="row">
            <label for="id-input">ID:</label>
            <input id="id-input" type="text" name="id" readonly="readonly" th:value="*{id}" value="1"/>
        </div>

        <div class="row">
            <label for="holder-input">Name:</label>
            <input id="holder-input" name="book-name" type="text" th:value="*{name}" value="Name placeholder"/>
        </div>

        <div class="row">
            <label for="authors-select">Authors: </label>
            <select id="authors-select" name="authorId" size="10" multiple>
                <span th:each="author: ${authors}">
                    <option value="1" th:value="${author.getId()}" th:text="${author.getName()}" th:selected="${#lists.contains(book.getAuthorList(), author)}">Author name</option>
                </span>
            </select>
        </div>

        <div class="row">
            <label for="genres-select">Genres: </label>
            <select id="genres-select" name="genreId" size="10" multiple>
                <span th:each="genre: ${genres}">
                    <option value="1" th:value="${genre.getId()}" th:text="${genre.getName()}" th:selected="${#lists.contains(book.getGenreList(), genre)}">Genre name</option>
                </span>
            </select>
        </div>

        <div class="row">
            <button type="submit">Save</button>
        </div>
    </form>
</div>
<form id="delete" action="bookEdit.html" th:method="post" th:action="@{/book/delete(bookId=${book.getId()})}">
    <button type="submit">Delete</button>
</form>
</body>
</html>