<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genres</title>
    <style type="text/css">
        body {
            padding-left: 50px;
            padding-top: 20px;
        }

        .genres, .genres td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<a href="/">&lt;&lt;&lt;back</a>
<h1>Genres</h1>
<span>
    <h3 style="display: inline"><a href="/">Books</a></h3>&nbsp;&nbsp;
    <h3 style="display: inline"><a href="/authors">Authors</a></h3>
    <h3></h3> <!--перенос строки после меню-->
</span>
<table class="genres">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre: ${genres}">
        <td th:text="${genre.getName()}">
            Author name
        </td>
        <td>
            <a href="/genre" th:href="@{/genres/edit(genreId = ${genre.getId()})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<a href="/genres/add">Add Genre</a>
</body>
</html>